PORT=8080
NODE_ENV=development
CLIENT_URL=
API_URL=
APP_NAME=Ts Project
# DB
DATABASE_URL=
# JWT
JWT_SECRET=
JWT_REFRESH_SECRET=
REFRESH_TOKEN_HASH_SECRET=
AUTH_TOKEN_HASH_SECRET=
JWT_ACCESS_EXPIRES_IN=900
JWT_REFRESH_EXPIRES_IN=604800
MAX_SESSION_LIFETIME_IN=2592000
# Google OAuth2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
# Email
EMAIL_PROVIDER=nodemailer
# Nodemailer
MAIL_FROM=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
# Resend
RESEND_API_KEY=
VERIFY_EMAIL_EXPIRE_MINUTES=10
RESET_PASSWORD_EXPIRE_MINUTES=5
