extends ../layouts/default
include ../mixins/email

block headerTitle
  | Đặt lại mật khẩu

block content
  p.greeting
    | Xin chào #{name},

  p.description
    | Chúng tôi nhận được yêu cầu đặt lại mật khẩu cho tài khoản của bạn tại
    strong= appName
    | . Nhập mã bên dưới vào ô xác thực để tiếp tục.

  +codeBox(code, 'MÃ XÁC THỰC')

  +warningBox
    | Mã này sẽ
    strong  hết hạn sau #{expireMinutes} phút
    | . Nếu hết hạn, bạn cần gửi lại yêu cầu mới.

  +divider

  p.description
    | Nếu bạn không yêu cầu đặt lại mật khẩu, hãy bỏ qua email này. Tài khoản của bạn vẫn an toàn.
